<div class="row position-absolute top-50 start-50 translate-middle">
  <div *ngIf="!_fileWasSelected" class="col g-0 text-center">
    <h1 class="text-secondary">Hello!<br>To start, select .csv archive file<br>in the search line above.</h1>
  </div>
  <div *ngIf="_loadingProcess" class="col g-0">
    <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="accordion" id="accordionPanels">
  <ng-container #accordionsContainer></ng-container>
</div>
