.graphBox{
  width: 100%;
  padding: 20px;
  border: solid 3px rgba(255,26,104,1);
  display: flex;
}

.colSmall{
  width: 88px;
  height: 70vh;
}

.colLarge{
  width: 100%;
  overflow-x: scroll;
  height: 70vh;
}

