<div class="d-flex flex-column" style="min-height: 100vh;">

  <!-- NAVBAR -->
  <header>
    <nav class="navbar shadow bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="" alt="brand" width="30" height="24">
        </a>
        <app-file-input></app-file-input>
      </div>
    </nav>
  </header>

  <!-- CONTENT -->
  <div class="container mh-100 flex-grow-1 py-5 border border-primary">
    <!-- AGGREGATOR -->
    <app-graph-accordion-aggregator ></app-graph-accordion-aggregator>
  </div>

  <!-- FOOTER -->
  <footer class="container-fluid border border-primary">
    This if footer
  </footer>

</div>
