<!-- NAVBAR -->
<header>
  <nav class="navbar mb-5 shadow bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="" alt="brand" width="30" height="24">
      </a>
    </div>
  </nav>
</header>

<!-- CONTENT -->
<div class="container border border-primary" style="min-height: 100vh;">
  <!--Chart-->
  <app-graph></app-graph>
</div>

<!-- MODAL WINDOW WITH INFO WICH APPEARS AFTER CLICK ON BUTTON IN MENU -->
<footer class="container border border-primary">
  This if footer
</footer>
