<!-- NAVBAR -->
<header>
  <nav class="navbar shadow bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="" alt="brand" width="30" height="24">
      </a>
    </div>
  </nav>
</header>

<!-- CONTENT -->
<div class="container my-5 border border-primary" style="min-height: 100vh;">

  <!-- AGGREGATOR -->
  <app-graph-accordion-aggregator></app-graph-accordion-aggregator>

</div>

<!-- MODAL WINDOW WITH INFO WICH APPEARS AFTER CLICK ON BUTTON IN MENU -->
<footer class="container-fluid border border-primary">
  This if footer
</footer>
