<div class="accordion-item">
  <h2 class="accordion-header" [id]="'panelsStayOpen-heading-'+GetTagName()">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse-'+GetTagName()" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen-collapse-'+GetTagName()">
      {{GetTagName()}}
    </button>
  </h2>
  <div [id]="'panelsStayOpen-collapse-'+GetTagName()" class="accordion-collapse collapse" [attr.aria-labelledby]="'panelsStayOpen-heading-'+GetTagName()">
    <div class="accordion-body">

      <mat-form-field class="example-full-width" subscriptSizing="dynamic" > <!--appearance="outline"-->
        <mat-label>Choose a date</mat-label>
        <input matInput (click)="picker.open()" [min]="GetMinDate()" [max]="GetMaxDate()" [matDatepickerFilter]="DateFilter" [matDatepicker]="picker" (dateChange)="SetDate($event)" >
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button (click)="ShowSelectedDatePoints()" type="button" class="btn btn-success" [ngClass]="{'disabled': !CheckShowDateButtonActivity()}">Show</button>
      <button (click)="ShowPreviousPoints()" type="button" class="btn btn-success" [ngClass]="{'disabled': !CheckPreviousButtonActivity()}">Previous</button>
      <button (click)="ShowNextPoints()" type="button" class="btn btn-success" [ngClass]="{'disabled': !CheckNextButtonActivity()}">Next</button>
      <app-graph [GraphUniqueName] = "GetTagName()" [GraphPoints]="GetFirstInitPoints()"></app-graph>
    </div>
  </div>
</div>
