<div class="accordion-item">
  <h2 class="accordion-header" [id]="'panelsStayOpen-heading-'+_tagName">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse-'+_tagName" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen-collapse-'+_tagName">
      {{_tagName}}
    </button>
  </h2>
  <div [id]="'panelsStayOpen-collapse-'+_tagName" class="accordion-collapse collapse" [attr.aria-labelledby]="'panelsStayOpen-heading-'+_tagName">
    <div class="accordion-body">
      <button (click)="DisplayPreviousPoints()" type="button" class="btn btn-success">Previous</button>
      <button (click)="DisplayNextPoints()" type="button" class="btn btn-success">Next</button>
      <app-graph [GraphUniqueName] = "_tagName" [GraphPoints]="GetFirstPoints()"></app-graph>
    </div>
  </div>
</div>
